In [74]:
# Requiured dependencies
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

# Read saved data
dataframe_2023_subset = pd.read_csv("Output/Clean_2023.csv")

# Display sample data
dataframe_2023_subset.head()

  Country name  Ladder score  Logged GDP per capita  Healthy life expectancy
0      Finland         7.804                 10.792                   71.150
1      Denmark         7.586                 10.962                   71.250
2      Iceland         7.530                 10.896                   72.050
3       Israel         7.473                 10.639                   72.697
4  Netherlands         7.403                 10.942                   71.550

1.Is a countries happiness score correlated to the countries GDP per capita in 2023? (Jean)

2.Does a countries predicted life expectancy affect the happiness score in 2023 ?
(Sin)

3.Which continent is the happiest in 2023? 
(Uma)

4.Does Australia, Spain, China and the USA get happier over 2021-2024?
(Kristina)

5.Is there a correlation between a country's unemployment rate and its national happiness score?
(Kelela)